<style>

</style>
<!--Write new post-->
<div *ngIf="showWritePost">
  <mat-form-field appearance="outline">
    <mat-label>What's in your mind</mat-label>
    <textarea #post maxlength="777" minlength="1" (change)="newPost.post = post.value" matInput
              placeholder="Ex. One more day to revolution"></textarea>
    <div class="write-post-button-component">
      <button mat-flat-button color="primary" (click)="addNewPost()">Post</button>
    </div>
  </mat-form-field>
</div>

<!--Feed-->
<mat-grid-list rowHeight="3:1" cols="3" *ngFor="let post of posts">
  <mat-grid-tile>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title> #{{ post.id }} </mat-card-title>
      <mat-card-content> {{ post.post }} </mat-card-content>
      <mat-card-footer> {{ post.dateCreated }} </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>
